<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>navbar</p>
        @RenderBody()
    <p>footer</p>
</body>
</html>
